{{#each users}}
    {{#with this}}
        <li {{#unless active}} class="offline" {{/unless}}>
            <input type="checkbox" id="user-{{name}}" class="user-checkmark" {{#unless active}} disabled {{/unless}} />
            <label for="user-{{name}}">
                <img src="{{avatar}}" style="border-color: {{color}}"/><br/>
                {{name}}
            </label>
        </li>
    {{/with}}
{{/each}}
