<form autocomplete="off" onsubmit="event.preventDefault();" id="lame-messenger">

    {{#if (isAtLeastOneUserToBeShown)}}
        <div class="users">
            <ul>
                {{> "modules/lame-messenger/templates/sub-templates/users.hbs"}}
            </ul>
        </div>
    {{else}}
        <div class="users no-users-to-show">
            <p> {{ localize 'LAME.NoUsersToShow' }} </p>
            <p> {{ localize 'LAME.NoUsersToShowExplanation' }} </p>
        </div>
    {{/if}}

	<div class="chat-elements">
<textarea class="history" placeholder="{{ localize 'LAME.History.Hint' }}" disabled>
{{> "modules/lame-messenger/templates/sub-templates/history.hbs"}}
</textarea>

		<textarea class="message" name="message" placeholder="{{ localize 'LAME.WhisperHint' }}" rows="3"></textarea>

		<button type="submit">
			<i class="far fa-paper-plane"></i> {{ localize 'LAME.Send' }}
		</button>
	</div>

</form>
