<section>
    {{#if (isAtLeastOneUserToBeShown)}}
        <ul>
            {{#each users}}{{#with this}}
                {{#unless exclude}}
                    <li {{#unless active}} class="offline" title="{{ localize 'LAME.UserIsOffline' }}" {{/unless}}>
                        <input type="checkbox" id="lame-messenger-user-{{id}}" class="user-checkmark" {{#unless active}} disabled {{/unless}} />
                        <label for="lame-messenger-user-{{id}}">
                            <img src="{{avatar}}" style="border-color: {{ userColor id }};
                                {{~#if active}} background-color: {{ userColor id }}; {{/if~}}
                            " alt="{{name}}"/>
                            <p>{{name}}</p>
                        </label>
                    </li>
                {{/unless}}
            {{/with}}{{/each}}
        </ul>
    {{else}}
        <div class="no-users-to-show">
            <p> {{ localize 'LAME.NoUsersToShow' }} </p>
            <p> {{ localize 'LAME.NoUsersToShowExplanation' }} </p>
        </div>
    {{/if}}
</section>
